body {
  background-color: #22313f;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
.container {
  background-color: #fff;
  max-width: 1024px;
  margin: 0 auto !important;
}
.flex-container {
  padding: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-container:nth-child(even) {
  background-color: #c5eff7;
}
.flex-container .info-content {
  font-size: 1.5em;
  font-weight: 300;
}
.flex-container .info-content ul {
  list-style-type: circle;
}
.flex-container .info-content ul li {
  line-height: 2em;
}
.flex-container-data div {
  width: 45%;
}
.flex-container-data div + div {
  margin-left: 40px;
}
.flex-container-data div img {
  margin: 0 auto;
  display: block;
  width: 150px;
}
header#site-header {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 40px;
}
header#site-header > h1 {
  font-size: 80px;
  padding-top: 60px;
}
header#site-header > h2 {
  font-size: 40px;
}
header#site-header p {
  padding-top: 20px;
  font-size: 1.2em;
}
.info-tool-container {
  float: left;
}
.info-tool-container + div {
  margin-left: 20px;
}
.info-tool-container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.info-tool-container p {
  text-align: center;
}
.info-tool-container img {
  max-width: 200px;
}
footer {
  text-align: center;
  padding: 10px;
}
