#back-text {
  text-align: center;
  font-weight: 300;
  color: #fff;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 5em;
  -webkit-animation-name: show-back-name;
          animation-name: show-back-name;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.03, 1, 0.26, 0.89);
          animation-timing-function: cubic-bezier(0.03, 1, 0.26, 0.89);
}
body {
  background-color: #22313f;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
.container {
  background-color: #fff;
  max-width: 1024px;
  margin: 0 auto !important;
  -webkit-animation-name: show-container;
          animation-name: show-container;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: easy-in;
          animation-timing-function: easy-in;
}
.flex-container {
  padding: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-container:nth-child(even) {
  background-color: #e4f1fe;
}
.flex-container .info-content {
  font-size: 1.5em;
  font-weight: 300;
}
.flex-container .info-content ul {
  list-style-type: circle;
}
.flex-container .info-content ul li {
  line-height: 2em;
}
.flex-container .info-images img {
  margin-top: 20px;
}
.flex-container-data div {
  width: 45%;
}
@media screen and (max-width: 482px) {
  .flex-container-data div {
    width: 100%;
  }
}
.flex-container-data div + div {
  margin-left: 40px;
}
.flex-container-data div img {
  margin: 0 auto;
  display: block;
  width: 150px;
}
header#site-header {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 40px;
}
header#site-header > h1 {
  font-size: 80px;
  padding-top: 60px;
}
header#site-header > h2 {
  font-size: 40px;
}
header#site-header p {
  padding-top: 20px;
  font-size: 1.2em;
}
.info-tool-container {
  float: left;
}
.info-tool-container + div {
  margin-left: 20px;
}
.info-tool-container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.info-tool-container p {
  text-align: center;
}
.info-tool-container img {
  max-width: 200px;
}
footer {
  text-align: center;
  padding: 10px;
}
@-webkit-keyframes show-container {
  0% {
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
}
@keyframes show-container {
  0% {
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
}
@-webkit-keyframes show-back-name {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
}
@keyframes show-back-name {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
}
