// colors
dark-blue = #22313F
light-blue = #E4F1FE
selection-blue = #81CFE0

// variables animation
anim-delay = 1s

#back-text
	text-align center
	font-weight 300
	color #fff
	position fixed
	top 20%
	left 50%
	transform translateX(-400%)
	font-size 4em
	animation-name show-back-name
	animation-delay anim-delay
	animation-duration 2s
	animation-fill-mode forwards
	animation-timing-function  cubic-bezier(.03,1,.26,.89)

body
	outline none
	white-space normal
	font-style normal
	font-variant normal
	text-indent 0px
	background-color dark-blue
	font-family 'Lato', sans-serif
	text-decoration none

.container
	opacity 0.0
	background-color #fff
	max-width 1024px
	margin 0 auto !important
	animation-name show-container
	transform-origin 50% 10%
	transform perspective(400px) rotateX(40deg)
	animation-delay anim-delay + 1.2s
	animation-duration 2s
	animation-fill-mode forwards
	animation-timing-function easy-in
.flex-container
	padding 40px		
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	&:nth-child(even)
		background-color light-blue
	.info-content
		h1 
			letter-spacing 5px
			word-spacing 7px
			text-transform uppercase
		font-size 1.5em
		font-weight 300
		ul
			list-style-type circle
			list-style-position inside
			li 
				line-height 2em
	.info-images img
		margin-top 20px
.flex-container-data
	& div:first-child
		border-right 1px solid dark-blue
		@media screen and (max-width: 482px)
			border-right none
			border-bottom 1px solid dark-blue
	& div
		width 45%
		@media screen and (max-width: 482px)
			width 100%
	& div + div
		margin-left 40px
	& div img 
		margin 0 auto
		display block
		width 150px	
		

header#site-header
	text-align center
	margin-bottom 100px
	padding-top 40px
	> h1
		font-size 80px
		padding-top 60px
	>  h2
		font-size 40px
	p 
		padding-top 20px
		font-size 1.2em
		

.info-tool-container
	float left
	& + div
		margin-left 20px
	h1
		text-align center
		margin-bottom 30px
	p 
		text-align center
	img
		max-width 200px
		

footer
	text-align center
	padding 10px
	&::first-letter
	&::first-line
		color black

::selection 
	background-color selection-blue
	color #fff


	
.bg-space
	width 100%
	min-height 200px
	background-attachment fixed
	background-image url('../img/bg/1.jpg')
	background-position center center
	&:nth-of-type(1)
		background-image url('../img/bg/1.jpg')
	&:nth-of-type(2)
		background-image url('../img/bg/2.jpg')
	&:nth-of-type(3)
		background-image url('../img/bg/3.jpg')
	&:nth-of-type(4)
		background-image url('../img/bg/4.jpg')

// animation 
@keyframes show-container {
	0% { 
		
	}	
	
	80% {
		transform  rotateX(-9deg)
	}
	100% {
		opacity 1
		transform  rotateX(0deg)
	}
}




@keyframes show-back-name {
	0% {	
		opacity 0.0
	}		
	50% {
		transform  translateX(-50%)
		opacity 1
	}
	100% {
		transform  translateX(200%)
		opacity 0.0
	}
}