// colors
dark-blue = #22313F
light-blue = #C5EFF7

body
	background-color dark-blue
	font-family 'Lato', sans-serif
	text-decoration none

.container
	background-color #fff
	max-width 1024px
	margin 0 auto !important
.flex-container
	padding 40px		
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	&:nth-child(even)
		background-color light-blue
	.info-content
		font-size 1.5em
		font-weight 300
		ul
			list-style-type circle
			li 
				line-height 2em
.flex-container-data
	& div
		width 45%
	& div + div
		margin-left 40px
	& div img 
		margin 0 auto
		display block
		width 150px	
		

header#site-header
	text-align center
	margin-bottom 100px
	padding-top 40px
	> h1
		font-size 80px
		padding-top 60px
	>  h2
		font-size 40px
	p 
		padding-top 20px
		font-size 1.2em
		

.info-tool-container
	float left
	& + div
		margin-left 20px
	h1
		text-align center
		margin-bottom 30px
	p 
		text-align center
	img
		max-width 200px
		



footer
	text-align center
	padding 10px


	


		
	
	