// colors
dark-blue = #22313F
light-blue = #E4F1FE
selection-blue = #81CFE0
#back-text
	text-align center
	font-weight 300
	color #fff
	position fixed
	top 20%
	left 50%
	transform translateX(-50%)
	font-size 5em
	animation-name show-back-name
	animation-duration 2s
	animation-fill-mode forwards
	animation-timing-function  cubic-bezier(.03,1,.26,.89)

body
	white-space normal
	font-style normal
	font-variant normal
	text-indent 0px
	background-color dark-blue
	font-family 'Lato', sans-serif
	text-decoration none

.container
	background-color #fff
	max-width 1024px
	margin 0 auto !important
	animation-name show-container
	animation-duration 4s
	animation-fill-mode forwards
	animation-timing-function easy-in
.flex-container
	padding 40px		
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	&:nth-child(even)
		background-color light-blue
	.info-content
		h1 
			letter-spacing 5px
			word-spacing 7px
			text-transform uppercase
		font-size 1.5em
		font-weight 300
		ul
			list-style-type circle
			li 
				line-height 2em
	.info-images img
		margin-top 20px
.flex-container-data
	& div
		width 45%
		@media screen and (max-width: 482px)
			width 100%
	& div + div
		margin-left 40px
	& div img 
		margin 0 auto
		display block
		width 150px	
		

header#site-header
	text-align center
	margin-bottom 100px
	padding-top 40px
	> h1
		font-size 80px
		padding-top 60px
	>  h2
		font-size 40px
	p 
		padding-top 20px
		font-size 1.2em
		

.info-tool-container
	float left
	& + div
		margin-left 20px
	h1
		text-align center
		margin-bottom 30px
	p 
		text-align center
	img
		max-width 200px
		

footer
	text-align center
	padding 10px
	&::first-letter
	&::first-line
		color black

::selection 
	background-color selection-blue
	color #fff
	


// animation 
@keyframes show-container {
	0% {	
		transform-origin center bottom
		transform perspective(400px) rotateX(90deg)
		opacity 0.1
	}	
	
	80% {
		transform  rotateX(-5deg)
	}
	100% {

	}
}




@keyframes show-back-name {
	0% {	
		transform translateX(-200%)
		opacity 0.1
	}		
	50% {
		transform  translateX(-50%)
		opacity 1
	}
	100% {
		transform  translateX(200%)
		opacity 0.0
	}
}